---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: "Open Sans", "Helvetica Neue", "DejaVu Sans", Arial, "PingFang SC", "Noto Sans CJK SC", "Hiragino Sans GB", "微软雅黑",  Helvetica, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$code-font-family:   Menlo, Monaco, Consolas, "DejaVu Sans Mono", "Liberation Mono", "文泉驿等宽微米黑", "Courier New", Courier, SimSun, monospace;
$code-font-size:     15px;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$color-link: #036;
$color-link-hover: #069;

$header-bg: #475B64;
$header-bg-hover: rgb(81, 102, 114);
$header-link: #CFD8DC;
$header-fg: #FFF;

// color
$oc-gray-list: (
  "0": #f8f9fa,
  "1": #f1f3f5,
  "2": #e9ecef,
  "3": #dee2e6,
  "4": #ced4da,
  "5": #adb5bd,
  "6": #868e96,
  "7": #495057,
  "8": #343a40,
  "9": #212529
);

$oc-gray-0: map-get($oc-gray-list, "0");
$oc-gray-1: map-get($oc-gray-list, "1");
$oc-gray-2: map-get($oc-gray-list, "2");
$oc-gray-3: map-get($oc-gray-list, "3");
$oc-gray-4: map-get($oc-gray-list, "4");
$oc-gray-5: map-get($oc-gray-list, "5");
$oc-gray-6: map-get($oc-gray-list, "6");
$oc-gray-7: map-get($oc-gray-list, "7");
$oc-gray-8: map-get($oc-gray-list, "8");
$oc-gray-9: map-get($oc-gray-list, "9");

$base-color: $oc-gray-8;
$base-lighten-color: $oc-gray-6;
$tag-index-label-color: $base-color;
$tag-index-label-background-color: $oc-gray-2;
$tag-index-count-background-color: $oc-gray-3;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "animate",
        "layout",
        "syntax-highlighting",
        "easybook"
;






// Tags
.tags > .label {
    > li:before {
      content: "";
    }
  
    > li {
      margin: 0;
      font-size: $small-font-size;
      font-weight: 300;
      display: inline;
  
      > a {
        display: inline-block;
        margin: 1px;
        color: $tag-index-label-color;
        background-color: $tag-index-label-background-color;
        border-radius: 3px;
  
        span {
          float: left;
          padding: .5px 5px;
  
          &.count {
            background-color: $tag-index-count-background-color;
            border-radius: 0 3px 3px 0;
          }
        }
      }
    }
  }
  
  .tags > .tag {
    a {
      color: $base-color;
    }
    time {
      color: $base-lighten-color;
      font-size: $small-font-size;
      font-weight: 300;
      margin-left: 3px;
    }
  }
  